html,body{
    margin:0px;
}

.wrapper{
    margin:0 auto;
    display: flex;
    justify-content: center;
}

#container{
    border: 2px solid blue;
    width: 400px;
    padding: 15px;
}

.btn{
    box-sizing: border-box;
    width: 70px;
    margin: 5px;
    background-color: yellow;
    color: blue;
    border:2px solid blue;
}

header{
    display: flex;
    justify-content: center;
}